{% extends 'base.html' %}

{% block content %}

<div id="profile-settings-react"></div>

<!-- Successful Modal -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="fa fa-check"></i>
				</div>				
				<h4 class="modal-title w-100">Awesome!</h4>	
			</div>
			<div class="modal-body">
				<p style="letter-spacing: 1px;" class="text-center">Your profile has been successfully updated.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block sidebar %}
    <div class="col-md-4" data-view={{ view }} data-username={{ request.user.username }} data-selected={{ sidebar_option }} id="sidebar-react"><div>
{% endblock sidebar %}