code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #007bff;
  border-bottom: 8px solid #333333;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
  transition: 0.1s;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  font-size: 23px;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}
.abc {
  font-size: 15;
  color : solid blue;
}
.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3

}


.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
  
.account-heading {
  font-size: 2.5rem;
}

.article-metadata-2 {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #CFE5FF	;
}

.article-metadata-2 a:hover {
      color: #333;
      text-decoration: none;
}

.rounded-circle-2 {
  border-radius:70%;
  border: 10px solid #fafafa;
}


ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bord {
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 1000px;
  transition: 0.5s;
}

.bord:hover {
  border-width: 3px;
  background-size: 100px;
  block-size: 60px;
  inline-size: 60px;
}


.bord2 {
  border-style: solid;
  border-width: 3px;
  border-radius: 1000px;
}

.bord3 {
  border-color: #5f788a;
  border-width: 2px;
}

.ft {
  font-size: 20px;

}

.badge-9 {
  position: relative;
  top: 0px;
  right: 0px ;
  padding: 5px 6px ;
  border-radius:  100%;
  background-color: #c51919;
  color: white;
  font-size: 13px;
  font-style: normal;
}

.badge-9:hover {
  position: relative;
  top: 0px;
  right: 0px ;
  padding: 5px 6px ;
  border-radius:  100%;
  background-color: #942222;
  color: white;
  font-size: 13px;
  font-style: normal;
  text-decoration: none;
}

.badge {
  position: relative;
  top: 3px;
  right: 0px ;
  padding: 5px 8px ;
  border-radius:  100%;
  background-color: #00529B;
  color: white;
  font-size: 13px;
  font-style: normal;
}

.bold- {
  position: relative;
  top: 3px;
  right: 7px ;
  padding: 5px 8px ;
  color: black;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
}


.nowrap {
  white-space: nowrap;
}

.remove-edit {
  text-decoration: none;
  font-weight: 350;
}

.remove-edit:hover {
  text-decoration: none;
  color: #000000;
}

.remove-edit-2 {
  text-decoration: none;
  position: relative;
  top: 3px;
  right: 7px ;
  padding: 5px 8px ;
  color: black;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
}

.remove-edit-2:hover {
  text-decoration: none;
  position: relative;
  top: 3px;
  right: 7px ;
  padding: 5px 8px ;
  color: rgb(102, 101, 101);
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-weight: bold;
}

.like {
  background-color: white;	background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
  outline: none;
  font-size: 25px;
  margin-bottom: 5px;
  transition: 100ms;
  margin-left: 3px;
}

.like:active {
  border: none;
  outline:none;
}

.like:hover {
  font-size: 35px;
  margin-left: -3px;
}


.black {
  color:black;
}

.blue {
  color:#007bff;
}

.blue-background {
  background-color: #007bff;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1000px;
  font-size: 15px;

}

.blue-background-search {
  background-color: #007bff;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px 13px 13px 100px;
  font-size: 15px;

}

.full-curve {
  border-radius: 1000px;
}

.search-bar {
  padding: 10px;
  width: 80%;
  border:none;
  border-radius: 1000px 00px 00px 1000px;

}

.search_icon {
  background-color: #007bff;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 25px;
  margin-top:8px;
  margin-right: 10px;
  transition: 100ms;
  margin-left: 3px;
  float: right;  
  transition: 100ms; 
}

.search_icon:hover {
  font-size: 30px;
  margin-top: 5px;
}

.plus-hover {
  font-size: 35px;
  float:left; 
  margin-top:4px; 
  font-size:35px ; 
  margin-left:35px;
  transition: 100ms;
}

.plus-hover:hover {
  font-size: 50px;
  margin-top: -3px;
  margin-left: 30px;
}

.start-scrolling {
  overflow: hidden;
}

.stop-scrolling {
  overflow: hidden;
}

.follow-button {
  background: linear-gradient(180deg , #007bff , #398fff);
  color: white;
  font-size: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  transition-duration: 100ms;
}

.follow-button:hover {
  background: linear-gradient(360deg , #007bff , #398fff);
}

.following-button {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(112, 112, 112);
  color: rgb(36, 36, 36);
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  transition-duration: 100ms;
}

.following-button:hover {
  background: rgb(230, 230, 230);
}  

/* Modal */

.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 150px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


.sidebar-item {
  background: white;
  transition: 200ms;
}

.sidebar-item:hover {
  background: whitesmoke;
}

.sidebar-selected {
  color: white;
  background: #007bff;
}

.sidebar-selected:hover {
  color: white;
}

.name-link {
  text-decoration: none;
  color: #252525;
  transition: 100ms;
}

.name-link:hover {
  text-decoration: none;
  color: #007bff;
}

.all-messages-overflow {
  overflow: auto;
  height: 550px;
  background: white;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3; 
}

.align-logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
  color: rgb(238, 238, 238);
}

.message-navbar {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.bord-2 {
  border-style: solid;
  border-radius: 1000px;
  transition: 0.5s;
}


.container{max-width:1170px; margin:auto;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}

.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg {
  overflow:hidden; 
  margin:26px 0 26px;
  float: right;
  text-align: right;
}

.sent_msg {
  text-align: right;
  float: right;
  width: 100%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}